body {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0;
}

.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ff9d00;
  color: #ffffff;
  position: relative;
  margin-left: 27px;
  border-radius: 4px;
}

.header__top {
  background-color: #373737;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 44px;
  background: #373737;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 91px;
}

.header__phone,
.header__phone2 {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.header__phone2 {
  margin-left: 27px;
}

.header__btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ff9d00;
  padding: 5px 20px 4px 18px;
  position: relative;
  margin-left: 27px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn img {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.header__btn p {
  display: inline-block;
  padding-left: 8px;
}

.btn__text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}

.main {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(/img/fon.jpg) center no-repeat;
  z-index: 0;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content {
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-title {
  color: #ffffff;
  margin-bottom: 24px;
}

.main__content-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 41px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 13px;
}

.main__content-title p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.main__content-desk {
  color: #ffffff;
  padding-left: 29px;
  padding-top: 29px;
  position: relative;
  line-height: 1.4;
}

.main__content-desk::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.main__cotent-top {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 300;
}

.main__content-desk h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__content-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-left: 45px;
  padding-top: 15px;
  padding-bottom: 32px;
}

.main__btn {
  display: inline-block;
  padding: 23px 130px 26px 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  align-items: center;
  -moz-tab-size: 14px;
    -o-tab-size: 14px;
       tab-size: 14px;
}
